@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 8px; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }

code.sourceCode span.kw { color: #007020; font-weight: bold; }
code.sourceCode span.dt { color: #902000; }
code.sourceCode span.dv { color: #40a070; }
code.sourceCode span.bn { color: #40a070; }
code.sourceCode span.fl { color: #40a070; }
code.sourceCode span.ch { color: #4070a0; }
code.sourceCode span.st { color: #4070a0; }
code.sourceCode span.co { color: #60a0b0; font-style: italic; }
code.sourceCode span.ot { color: #007020; }
code.sourceCode span.al { color: red; font-weight: bold; }
code.sourceCode span.fu { color: #06287e; }
code.sourceCode span.re { } 
code.sourceCode span.er { color: red; font-weight: bold; }




div#header {
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;

}

div#logo a { 
    float: left;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a { 
    font-size: 22px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

#disqus_thread {
    margin-top: 30px;
    padding: 30px 0px 0px 0px;
}

div.info {
    color: #555;
    font-size: 16px;
    font-style: italic;
    text-align:center;
    padding: 0px 0px 8px 0px;
}


html, body {
        padding:1em;
        margin:auto;
        max-width:880px;
        background:#fefefe;
	}
body {
	font: 1.2em Palatino, Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
	}
header, nav, article, footer {
	width: 760px;
	margin:0 auto;
	}
article {
	margin-top: 2em;
	margin-bottom: 2em;
	min-height: 400px;
	}

.sidenote {
    position:absolute;
    left:1400px;
    font-family:'Whitney SSm 4i', 'Whitney SSm A', 'Whitney SSm B';
    font-weight:400;
    font-style:italic;
    font-size:0.7em;
    color:#777;
    width:150px
}

footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

/* Typography
-------------------------------------------------------- */

h1 {
	margin-top: 0;
	font-weight: normal;
	}
h2 {
	font-weight: normal;
	}
h3 {
	font-weight: normal;
	font-style: italic;
	margin-top:3em;
	}
p {
	margin-top:0;
	-webkit-hypens:auto;
	-moz-hypens:auto;
	hyphens:auto;
	}
ul {
	list-style: square;
	padding-left:1.2em;
	}
ol {
	padding-left:1.2em;
	}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
	}
code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .8em;
	background: white;
	}

a {
	color: #2484c1;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
a img {
	border:none;
	}
h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}
hr {
	color : #ddd;
	height : 1px;
	margin: 2em 0;
	border-top : solid 1px #ddd;
	border-bottom : none;
	border-left: 0;
	border-right: 0;
	}
p#heart{
	font-size: 2em;
	line-height: 1;
	text-align: center;
	color: #ccc;
	}
.red {
	color:#B50000;
	}

/* Home Page
--------------------------- */

body#index li {
	margin-bottom: 1em;
	}


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	font-size: 120%;
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
} /* @iPhone */

