{:paths ["src"]
 :tasks {gen-template {:doc "generate http templates from hiccup"
                       :requires ([template.core :as template])
                       :task (template/gen)}
         build {:doc "build site"
                :requires ([main]
                           [template.core :as template]
                           [babashka.process :refer [sh]])
                :task (do
                        (template/gen)
                        (println (:out (sh "stack run rebuild")))
                        (main/build))}}}