<article>
    <h1>$title$</h1>
    <section class="header">
        Posted on $date$
        $if(author)$
        by $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>

<comment>

    <script src="https://giscus.app/client.js" data-repo="onemouth/onemouth.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNjExMjI0MTE=" data-category="General" data-category-id="DIC_kwDOD5Bpa84COAIg"
        data-mapping="pathname" data-reactions-enabled="0" data-emit-metadata="0" data-input-position="top"
        data-theme="light" data-lang="en" crossorigin="anonymous" async>
        </script>

</comment>